{
  "extends": ["airbnb","airbnb/hooks","prettier"],
  "plugins": ["prettier"],
  "rules": {
    "func-names": ["error", "never"],
    "no-console": "warn",
    "no-dupe-args": "warn",
    "no-duplicate-case": "error",
    "no-debugger": "error",
    "no-dupe-keys": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "const", "next": "return" },
      { "blankLine": "always", "prev": "function", "next": "return" },
      { "blankLine": "always", "prev": "let", "next": "return" }
    ],
    "react/destructuring-assignment": ["warn","always"],
    "react/button-has-type": "off"
  }
}