{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["import",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": 1,
    "no-alert": 2,
    "import/first": "error",
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "jsx-quotes": [
      1,
      "prefer-double"
    ]
  }
}